@import "../../app.scss";

.portfolio{
	position: relative;

	@media screen and (max-width: 760px) {
		.special-item .imageContainer {
		  width: 50%;
		  max-width: 320px;
		  margin: 0 auto;
		}
	  
		.special-item .imageContainer img {
		  width: 100%;
		  height: auto;
		  object-fit: contain;
		}
	  }

	.progress{
		position: sticky;
		top: 0;
		left: 0;
		padding-top: 50px;
		text-align: center;
		color: #ff364d;
		font-size: 36px;

		.progressBar{
			height: 10px;
			background-color: white;
			@media screen and (max-width: 760px){
				height: 8px;
			}
		}

		@media screen and (max-width: 760px){
			font-size: 24px;
			padding-top: calc(100vh - 100px);
		}

	}

	.container{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		.wrapper{
			max-width: 1366px;
			height: 100%;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 50px;

			@media screen and (max-width: 760px){
				flex-direction: column;
			}

		


			.imageContainer,
			.textContainer {
  				border: 1px solid red;
				}

			.imageContainer{
				flex: 1;
				height: 50%;
				margin-right: 100px;

				@media screen and (max-width: 760px){
					width: 100%;
					max-height: 300px;
					margin: auto;
				}

				img{
					width: 600px;
					height: 400px;
					object-fit: cover;
					border-radius: 3px;

					@media screen and (max-width: 760px){
						object-fit: contain;
						width: 320px;
						height: 300px;
						
					}
				}
			}

			.textContainer{
				flex: 1;
				display: flex;
				flex-direction: column;
				max-width: 400px;
				overflow-wrap: break-word;
				word-wrap: break-word;
				min-height: 400px;
  				max-height: 500px;

				@media screen and (max-width: 760px){
					transform: none !important;
					padding: 10px;
				}
				
				h2{
					font-size: 50px;

					@media screen and (max-width: 760px){
						font-size: 25px;
						align-items: center;
						text-align: center;
					}
				}

				hr{
					border: none;
					border-top: 0.5px solid gray;
					@media screen and (max-width: 760px){
						width: 300px;
						align-items: center;
						text-align: center;
					}
				}

				h3{
					font-size: 25px;
					color: grey;
					margin-bottom: 25px;

					@media screen and (max-width: 760px){
						font-size: 13px;
						align-items: center;
						text-align: center;
					}
				}

				p{
					margin-left: 20px;
					font-size: 15px;
					line-height: 1.8em;
					
					@media screen and (max-width: 760px){
						font-size: 8px;
					}

					.velo{
						margin-right: 60px;
					}
				}
			}
		}
	}
}