@import "../../app.scss";

.services{
	background: linear-gradient(180deg, #0c0c1d, #111132);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.textContainer{
		flex: 1;
		align-self: flex-end;
		display: flex;
		align-items: center;
		gap: 20px;

		@media screen and (max-width: 760px){
			gap: 10px;
		}

		p{
			font-weight: 200;
			font-size: 20px;
			color: gray;
			text-align: right;

			@media screen and (max-width: 760px){
				font-size: 10px;	
			}
		}

		hr{
			width: 200px;
			border: none;
			border-top: 0.5px solid gray;

			@media screen and (max-width: 760px){
				width: 50px;
			}
		}
	}
	
	.titleContainer{
		max-width: 1366px;
		margin: auto;
		flex: 2;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: 760px){
			height: 100%;
		}

		.title{
			display: flex;
			align-items: center;
			gap: 50px;

			@media screen and (max-width: 760px){
				flex-direction: column;
				text-align: center;
				gap: 20px;
			}

			img{
				width: 200px;
				height: 100px;
				border-radius: 50px;
				object-fit: cover;

				@media screen and (max-width: 760px){
					width: 100px;
					height: 50px;
				}
			}

			h1{
				font-size: 90px;
				font-weight: 100;

				@media screen and (max-width: 760px){
					font-size: 36px;
				}
			}
		}

		.paragraph{
			display: flex;
			font-size: 20px;
			font-weight: 150;
			margin: auto;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			letter-spacing: 2px;

			@media screen and (max-width: 760px){
				font-size: 10px;
				padding-left: 20px;
				padding-right: 20px;
				letter-spacing: 1px;
			}
		}
	}

	@keyframes slide {
		from {
			transform: translateX(0%);
		}
		to {
			transform: translatex(-100%);
		}
	}

	.listContainer{
		bottom: -50px;
		max-width: 1366px;
		margin-bottom: 100px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		white-space: nowrap;
		position: relative;

		@media screen and (max-width: 760px){
			max-width: 284px;
			padding-bottom: 80px;	
		}
		
		.logo-slide{
			display: inline-block;
			animation: 50s slide infinite linear;

			img{
				height: 50px;
				margin: 0 40px;

				@media screen and (max-width: 760px){
					height: 30px;
					margin: 0 20px;
				}
			}
		}
	}

	.listContainer:before,
	.listContainer:after {
		position: absolute;
		top: 0;
		width: 250px;
		height: 100%;
		content: "";
		z-index: 2;
	}

	.listContainer:before{
		left: 0;
	}

	.listContainer:after{
		right: 0;
	}

	.listContainer:hover .logo-slide{
		animation-play-state: paused;
	}
}