@import "../../app.scss";

.contact{
	height: 100%;
	max-width: 1366px;
	margin: auto;
	display: flex;
	align-items: center;
	gap: 50px;

	@media screen and (max-width: 760px){
	width: 100%;
		padding: 10px;
		flex-direction: column;
	}

	.textContainer{
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 40px;

		@media screen and (max-width: 760px){
			gap: 20px;
			text-align: center;
			align-items: center;
			margin-top: 70px;
		}

		h1{
			font-size: 100px;
			line-height: 30px;

			@media screen and (max-width: 760px){
				font-size: 36px;
			}
		}

		h2{
			font-size: 15px;
		}

		span{
			font-size: 12px;
			font-weight: 300;
		}
	}

	.formContainer{
		flex: 1;
		position: relative;

		@media screen and (max-width: 760px){
			width: 100%;
			padding: 50px;
			bottom: 80px;		
		}

		.phoneSvg{
			stroke: #ff364d;
			position: absolute;
			margin: auto;
			z-index: -1;

			@media screen and (max-width: 760px){
				right: 25px;
			}

			svg{
				@media screen and (max-width: 760px){
					width: 300px;
					height: 300px;
				}
			}
		}

		form{
			display: flex;
			flex-direction: column;
			gap: 20px;

			input, textarea{
				padding: 20px;
				background-color: transparent;
				border: 1px solid grey;
				color: white;
				border-radius: 5px;

				@media screen and (max-width: 760px){
					padding: 10px;
				}
			}

			button{
				padding: 20px;
				border: none;
				background-color: #ff364d;
				cursor: pointer;
				font-weight: 500;

				@media screen and (max-width: 760px){
					padding: 10px;
				}
			}
		}
	}
}